$primary_color: #121212;
$secundary_color: #363636;
$tertiary_color: #9dbee5;
$tertiary_color_dark: #262f5f;
$font_color: #e8e8e8;


body{
    background-color: $primary_color;
    font-family: Arial, Helvetica, sans-serif;
    color: $font_color;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2{
    font-weight: 100;
}

main{
    max-width: 700px;
    margin: 0 auto;
    height: 100dvh;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    header{
        text-align: center;
    }

    section{
        .container_add_todo{
            margin-top: 20px;


            > button{
                background-color: #1d1d1d;
                border: 1px solid #a4a4a4;
                border-radius: 2px;
                color: #e7e7e7;
                padding: 8px 16px;
                cursor: pointer;
            }


            form{

                &.show{
                    display: flex;
                    flex-direction: column;
                }

                padding: 30px 0 10px 0;
                display: none;
                gap: 20px;

                .field{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    
                    input[type='text']{
                        height: 30px;
                        background-color: #1d1d1d;
                        border: 1px solid #a4a4a4;
                        border-radius: 4px;
                        box-sizing: border-box;
                        padding-left: 10px;
                        color: #fff;
                    }

                }
                input[type="submit"]{
                    width: 80px;
                    padding: 6px 0;
                    background-color: #9dbee5;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            
        }

        article{
            .search_label{
                position: relative;

                img{
                    position: absolute;
                    width: 20px;
                    filter: invert(1);
                    top: -2px;
                    left: 14px;
                }

                .search_input {
                    width: 100%;
                    height: 45px;
                    background-color: #1d1d1d;
                    border: 1px solid #a4a4a4;
                    border-radius: 4px;
                    box-sizing: border-box;
                    padding-left: 50px;
                    color: #fff;
            
                    font-size: 1.1em;

                    &.loading{
                        pointer-events: none;
                        color: grey;
                    }
                }
            }

           
        }

        .container_todos{
            ul{
                list-style: none;
                margin: 30px 0 0 0 ;
                padding: 0;
                

                li{
                    width: 100%;
                    margin: 20px 0;
                    height: 70px;
                    background-color: $secundary_color;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 20px;
                    box-sizing: border-box;
                    position: relative;
                    border-radius: 3px;

                    .todo_content p{
                        margin: 0;

                        strong{
                            position: relative;
                        }
                        strong::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 8px;
                            width: 0%;
                            height: 1px;
                            background-color: #fff;
                            transition: width .3s;
                        }
                    }

                    .todo_content small{
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 8px;
                            width: 0%;
                            height: 1px;
                            background-color: #fff;
                            transition: width .3s;
                        }
                    }

                    .check_done{
                        height: 20px;
                    }

                    .check_done:has(input:checked) + .todo_content{
                        strong::after ,small::after{
                            width: 100%;
                        }
                    }

                    label{
                        width: 16px;
                        height: 16px;
                        border: 2px solid #fff;
                        display: inline-block;
                        border-radius: 100%;
                        cursor: pointer;
                    }

                    input{
                        display: none;

                        &:checked + label{
                            background-color: #7a7799;
                        }
                    }

                    .action_delete{
                        width: 28px;
                        height: 28px;
                        background: url(../assets/img/trash.png);
                        display: inline-block;
                        position: absolute;
                        background-size: contain;
                        right: 30px;
                    }

                    
                }
            }
        }

        .container_todos:has( li) + .container_empty{
            display: none;
        }

        .container_empty{
            .container_empty_todos{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
    
                img{
                    width: 100%;
                }
            }
        }
    }
}


footer{
    .container_add_task{
        position: absolute;
        bottom: 20px;
        right: 0;

        button{
            background-color: $tertiary_color;
            color: $primary_color;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            font-size: 2.5em;
            border: none;
            display: grid;
            place-content: center;
            cursor: pointer;

            
        }

        @media (max-width: 700px) {
            right: 40px ;
        }
    }
}



.toast{
    position: fixed;
    width: 300px;
    top: -400px;
    right: 20px;
    border-radius: 4px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    transition: top .6s;
    z-index: 90;

    &.show{
        top: 20px;
    }

    &.error{
        background-color: rgba(255, 0, 0, 0.248);
        border: 2px solid red;
    }

    &.warning{
        background-color: rgba(255, 230, 0, 0.248);
        border: 2px solid rgb(255, 217, 0);
    }

    &.info{
        background-color: rgba(0, 102, 255, 0.248);
        border: 2px solid rgb(0, 64, 255);
    }

    p{
        margin: 0;
    }
}